@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Kaushan+Script&family=Merienda:wght@400;700&family=Mitr:wght@300;400&family=Mochiy+Pop+P+One&family=Monoton&family=Mukta:wght@400;500&family=Nunito+Sans:wght@400;600&family=Nunito:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Tourney:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap");
/* font-family: 'Aladin', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tourney', cursive;
font-family: 'Varela Round', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #000000;
  --bgcolor2: #fff;
  --seccolor: #5a5c5b;
  --maincolor: #870cb8;
  --special: rgba(198, 12, 245, 0.479);
  --third: #e23b64;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
}

/* 
========================
    preloader
========================
*/
.preloader {
  color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--third);
  z-index: 99999999;
  display: block;
}
.preloader h1 {
  font-family: "Aladin";
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
}
.preloader i {
  font-size: 1em;
}
.wraper {
  height: 50px;
  margin: 1rem;
  margin-top: calc(50vh - 1.536rem);
  margin-left: calc(50vw - 6.25rem);
  width: 180px;
}
.cricle {
  border-radius: 50%;
  border: 0.188rem solid var(--text-color);
  float: left;
  height: 3.125rem;
  margin: 0 0.2rem;
  width: 3.125rem;
}
.circle-1 {
  -webkit-animation: move 1s ease-in-out infinite;
  animation: move 1s ease-in-out infinite;
}
.circle-1a {
  -webkit-animation: fade 1s ease-in-out infinite;
  animation: fade 1s ease-in-out infinite;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
.circle-2 {
  -webkit-animation: move 1s ease-in-out infinite;
  animation: move 1s ease-in-out infinite;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}
.circle-1a {
  margin-left: -3.438rem;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.circle-3 {
  -webkit-animation: third 1s ease-in-out infinite;
  animation: third 1s ease-in-out infinite;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@-webkit-keyframes third {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes third {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
section {
  padding: 2rem 1rem 2rem 1rem;
}
/* ------- navbar css start --------- */
.login a {
  position: relative;
  margin-left: 1em;
  padding: 0.3em 1em 0.4em 1em !important;
  color: var(--third);
  border: 2px solid var(--third);
  box-shadow: 0px 0px 10px var(--third);
}
.login a:hover {
  background: var(--third);
  color: var(--text-color) !important;
  border: 2px solid var(--text-color);
  box-shadow: 0px 0px 10px var(--text-color);
}
.logo {
  color: var(--text-color);
  font-size: 2.3em;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  transition: all 0.8s ease-in-out;
  margin: 0.15em 0.5em 0.1em 0em;
  text-decoration: none;
}
.logo:hover {
  color: var(--third);
}
.logo img {
  width: 40px;
}
.mycontainer {
  width: 100%;
  padding: 0em 1em;
  margin: auto;
}
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: rgba(7, 0, 0, 0.295);
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}
nav {
  width: 100%;
  background: transparent;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 1rem;
}
.nav-menu a {
  font-size: 1.3em;
  margin-left: 0.8rem;
  text-decoration: none;
  line-height: 1em;
  color: var(--text-color);
  padding: 0.4rem 0.5rem;
}
.nav-menu a:hover {
  color: var(--third);
  transition: all 0.8s linear;
}
.nav-menu a i {
  color: var(--third);
}
.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}
.hamburger {
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}
.hamburger::before {
  top: -10px;
}
.hamburger::after {
  bottom: -10px;
}
.hamburger-menu.active .hamburger {
  background-color: transparent;
}
.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
  background-color: var(--third);
}
.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}
/* ------- navbar css end --------- */

.btn-primary {
  text-decoration: none;
  padding: 0.4em 1em !important;
  font-size: 3rem;
  font-weight: bolder !important;
  border: 2px solid var(--third) !important;
  background: rgba(0, 0, 0, 0.192) !important;
}
.btn-primary:hover {
  transition: all 0.5s linear;
  background: var(--third) !important;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: var(--third);
  color: white;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

/*
===================
   main section
===================
*/
.banner {
  width: 100%;
  height: 100vh;
  background: url("./img/d2.jpg") no-repeat;
  background-size: cover;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 10rem;
  align-items: center;
  justify-content: space-between;
}
.main .content {
  max-width: 60rem;
  position: relative;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.26);
}
.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}
.animated-text h3 {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: bolder;
  font-family: "Aladin";
  line-height: 70px;
  letter-spacing: 2px;
}
.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 5px;
  }
  25% {
    margin-top: -75px;
  }
  50% {
    margin-top: -145px;
  }
  75% {
    margin-top: -75px;
  }
  100% {
    margin-top: 0px;
  }
}
/* ------------user profile------------*/
.col-md-5 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}
.profile-head {
  transform: translateY(5rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 33% !important;
}
.col-lg-6 img {
  width: 9rem;
  height: 9rem;
}
.hoby {
  padding: 0;
  margin: 1rem 0rem;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
.hoby li {
  margin: 0rem 0.5rem;
  padding: 0.3em 1rem;
  border: 1px solid var(--third);
}
.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.user {
  min-height: 100vh;
  overflow-x: hidden;
  align-content: center;
}
.profile {
  position: relative;
  top: 1rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.user-info {
  justify-content: end;
}

/*-----------matching ----------------*/
.inner-demo {
  justify-content: center;
  background: linear-gradient(to right, var(--third), #904e95);
  width: 100%;
  padding: 2rem 0rem;
  height: 100%;
}
.user-about {
  padding: 0.5rem 1rem;
  position: absolute;
  width: 100%;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.493);
  color: #fff;
}
.user-about span {
  font-size: 1.5rem;
}
.demo {
  margin: 4rem auto;
  width: 20rem;
  height: 34rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__header {
  height: 3rem;
  background: #002942;
}
.demo__content {
  position: relative;
  height: 40rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.demo__card-cont {
  position: relative;
  width: 20rem;
  height: 25rem;
  margin: 0 auto 5rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
}
.demo__card img {
  width: 20rem;
  height: 25rem;
}
.demo__card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: transform 0.3s;
}
.demo__card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 4rem;
}

.demo__card__img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
  background-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg");
  background-size: cover;
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  background: #ffffff;
}
.demo__card__btm ul {
  list-style: none;
  padding: 1rem 0rem;
  background: #000;
  text-align: center;
}
.demo__card__btm ul i {
  font-size: 2rem !important;
  margin: 0rem 0.5rem;
  border: 2px solid #e70b03;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.demo__card__btm ul i:hover {
  color: #fff !important;
}
.demo__card__we {
  text-align: center;
  font-size: 2.2rem;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #f7047dd7;
}
.demo__card__choice.m--like {
  background: #6de781;
}
.demo__card__choice.m--like:after {
  transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem 0rem;
  background: #eb0551;
  color: #fff;
}

/*------------------------------
        media queries
------------------------------*/

@media only screen and (max-width: 1100px) {
  .logo {
    font-size: 2rem;
  }
  .main {
    padding: 0rem 4rem;
  }
  .banner {
    width: 100%;
    height: 100vh;
    background: url("./img/a.webp") no-repeat;
    background-size: cover;
  }
  .main .content {
    background: rgba(0, 0, 0, 0.56);
  }
  .btn-primary {
    font-size: 2.5rem;
  }
  .nav-wrapper {
    background: #07000086;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 56.666667% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .hamburger-menu {
    display: grid;
  }
  .nav-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    margin: 0;
    background: #0000008f;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    padding: 10px 10px;
    transition: 0.3s ease-in-out;
    align-items: center;
  }
  .nav-menu li {
    margin: 30px 30px;
  }
  .login {
    margin-top: 2rem;
  }
  .nav-menu.active {
    left: 0;
  }
  .main .content {
    max-width: 30rem;
    position: relative;
    padding: 0.5rem 1rem;
  }
  .animated-text h3 {
    font-size: 3rem;
  }
  .main {
    padding: 0rem 2rem;
  }
  .btn-primary {
    font-size: 2rem;
  }
  .col-md-5 {
    width: 70.666667% !important;
  }
}
@media only screen and (max-width: 600px) {
  .btn-primary {
    font-size: 1.5rem;
    padding: 0.4em 1em !important;
  }
  .main {
    padding: 0rem 1rem;
  }
  .animated-text h3 {
    font-size: 2.2rem;
  }
  .main .content {
    padding: 0rem 1rem;
  }
  .nav-menu {
    width: 60%;
    background: #0000008f;
    height: 100vh;
  }
  .col-md-5 {
    width: 100.666667% !important;
  }
  .mycontainer {
    background: #101010;
  }
}

@media only screen and (max-width: 450px) {
  .photos {
    justify-content: center;
  }
  .user {
    padding: 0rem !important;
  }
  .hoby li {
    font-size: 0.8rem;
    margin: 0rem 0.4rem;
    padding: 0.3em 0.5rem;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    padding: 0 !important;
    text-align: center;
    width: 50% !important;
  }
  .media-body h4 {
    font-size: 2rem;
  }
  .col-lg-6 img {
    width: 10rem;
    height: 8rem;
  }
  .user-info {
    justify-content: center;
  }
  .profile {
    margin: 0 auto;
    top: -2rem;
  }
  .btn-outline-dark {
    color: #f5f6f8 !important;
    border-color: #f3f4f5 !important;
  }
  .btn-outline-dark:hover {
    background: var(--third) !important;
  }

  /* for services */
  .main {
    padding: 0rem 0.5rem;
  }
  .nav-menu {
    width: 70%;
    height: 100vh;
  }
  .btn-primary {
    font-size: 1rem;
  }
  .animated-text {
    height: 45px;
  }
  .animated-text h3 {
    font-size: 1.2rem;
  }
  @keyframes text-move {
    0% {
      margin-top: 0px;
    }
    25% {
      margin-top: -90px;
    }
    50% {
      margin-top: -165px;
    }
    75% {
      margin-top: -90px;
    }
    100% {
      margin-top: -10px;
    }
  }

  .scrollToTop-btn.active {
    right: 11px;
  }
}
